<header class="d-print-none">
  <div class="container text-center text-lg-left">
    <div class="pt-4 clearfix">
      <h1 class="site-title mb-0">Ahmet YILMAZ</h1>
      <div class="site-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="#" title="About"><span class="menu-title">Home</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/skills" title="Skills"><span class="menu-title">Skills</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/experiences" title="Experiences"><span class="menu-title">Experiences</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/education" title="Education"><span class="menu-title">Education</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/portfolio" title="Portfolio"><span class="menu-title">Portfolio</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/references" title="References"><span class="menu-title">References</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact" title="Contact"><span class="menu-title">Contact</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
