<div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">
  <div class="portfolio-section">
    <h2 class="h2 fw-light mb-4">Portfolio</h2>
     <div *ngFor="let portfolio of portfolios" class="row g-0 ">
      <div *ngIf="portfolio.position =='left'" class="col-md-6"><a href="https://dribbble.com/" target="_blank"><img class="img-fluid" src="{{portfolio.projImgLink}}" width="800" height="500"></a></div>
      <div class="col-md-6 d-flex align-items-center aos-init" data-aos="fade-right" data-aos-delay="100">
        <div class="m-4 mt-md-2">
          <p class="text-teal text-small">{{portfolio.workType}}</p>
          <h3>{{portfolio.title}}</h3>
          <p class="text-muted">{{portfolio.content}}</p>
        </div>
      </div>
    <div *ngIf ="portfolio.position =='right'" class="col-md-6"><a href="https://dribbble.com/" target="_blank"><img class="img-fluid" src="{{portfolio.projImgLink}}" width="800" height="500"></a></div>
    </div>
  </div>
</div>
